@page
@{
    ViewData["Title"] = "Charisms";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Charisms</h2> 
    <p>A Spiritual Gifts Inventory Quiz</p>
    <blockquote><em>Be who you were created to be, and you will set the world on fire.
            - St. Catherine of Siena
        </em>
    </blockquote>
</div>
<div>
    <h3> Introduction </h3>
    <p> 
    Most of us are familiar with aptitude and personality assessments as tools to guide us toward 
    a study major or career path.
    Analogously, this Spiritual Gifts Inventory quiz is an aid to help us discover and discern our spiritual gifts. 
    </p>
    
    <p>
    All baptized Christians, children of the One Triune God, have been endowed with unique spiritual gifts by the Holy Spirit. 
    Some spiritual gifts are meant to be kept, to help transform us internally; 
    charisms are meant to be given away, shared with others for the building up of the kingdom of God on earth.
    </p>

    <p>
    This Spiritual Gifts Inventory quiz is from the Called by the Spirit pamphlet produced by the Catholic Diocese of Cleveland.
    We gratefully acknowledge their work, and generosity in sharing it online.
    To reduce bias in your responses, it is preferable to complete the quiz before reading that pamphlet.
    However, after completing the assessment and obtaining the results, it is advisable to delve into the details
    of that online pamphlet for further discernment. There is a link to the pamphlet at the end of the quiz.
    </p>
    <p>
    There are 75 questions in this quiz.
    Each question is a statement that you are asked to rate as to how accurate each statement is for you.
    The scale is from '1' to '4', with '1' being false and '4' being almost always true.
    Although we call it a quiz, there are no right or wrong answers.
    View the <a asp-page="/Instructions">instructions</a> for further guidance, and a prayer to the Holy Spirit.
    Please set aside enough quiet uninterrupted time to complete the quiz. 
    We do not store any of your responses or personal information.
    </p>
</div>    

<div class ="text-center">
    <a asp-page="TakeQuiz">Take Quiz</a>    
</div>
