@page
@{
    ViewData["Title"] = "Instructions";
}

<h3>@ViewData["Title"]</h3>
<hr />

<div style="display:flex">
    <div style="flex:50%">
        <p>The pamphlet suggests a few points to keep in mind when taking the quiz:</p>

        <p>As you read through the prompts, prayerfully discern how comfortable you are in each circumstance described or how well you fit into the description. </p>

        <p> Don’t feel guilty marking a “1” if the prompt does not resonate with you.</p>

        <p> The purpose of this inventory is <em>not</em> to determine any sort of deficiency with how you live out your faith life. </p>

        <p>Rather, the information gathered can be used in further discernment to help you recognize how the Holy Spirit may be moving within you, and how you can be challenged to use your gifts to build the Church. </p>

        <p>Be honest and open to the movement of the Holy Spirit. </p>

        <p> Take a moment in prayer asking the Holy Spirit to guide you through this process.</p>

        <p><a asp-page="TakeQuiz">Take Quiz</a></p>
    </div>

    <div style="flex:50%">
        <img src="HolySpirit.png" alt="PrayerCard" style="width:300px; height:auto; max-width:100%" />
    </div>
</div>
        