@page
@{
    ViewData["Title"] = "Resources";
}

<h3>Resources</h3>
<hr />
<div>
<p>
    To find out more about charisms in the Catholic tradition:
    <ul>
        <li>
            The Catechism of the Catholic Church defines charisms (<a href="https://www.catholiccrossreference.online/catechism/#!/search/799-801">799-801</a>) as gifts of grace (2003),
            and places of encounter with the Holy Spirit (688), which are to be tested (801), and a means by which the Church is built up (951, 2003).
        </li>
        <li>
            Pauline letters:
            <ul>
                <li><a href="https://www.biblegateway.com/passage/?search=romans+12&version=RSVCE"> Romans 12 The New Life in Christ</a></li>
                <li><a href="https://www.biblegateway.com/passage/?search=1+corinthians+12&version=RSVCE"> 1 Corinthians 12 Spiritual Gifts </a></li>
                <li><a href="https://www.biblegateway.com/passage/?search=ephesians+4&version=RSVCE"> Ephesians 4 Unity in the Body of Christ </a></li>
            </ul>
        </li>
        <li>
            <a href="https://siena.org/charisms-faq">A Charisms FAQ</a>: Why should I discern my charism?
        </li>
        <li>
            Pentecost Today article by Sherry Weddell: <a href="~/2pt26n2.pdf">Discerning spiritual gifts</a>
        </li>
    </ul>
</p>
</div>